$text_color: #757575;
$app_bar_height:20px;

html,body {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-overflow-scrolling : touch;
  color: $text_color;    
  &::-webkit-scrollbar {
    display: none;
  }
}
div::-webkit-scrollbar {
  display: none;
}
/* 内容容器 */
.nj-page {
  display: flex;
  flex-direction:column;    
}
.nj-page-main{  
  z-index:1;
  /* 主页菜单 */
  .nj-menu{
    position: fixed;
    top:0px;left:0px;
    height: 100px;
    width:100%;
    padding-top: $app_bar_height - 1;
    padding-bottom: 1px;  
    background-color: #E62117;
    overflow: hidden; 
    z-index: 2;
    .v-tabs__div{
      width:80px;
    }
    .v-icon{
      margin:0;
      color:#000000;
    }
  }
 
  .nj-content{
    background-color:#FAFAFA;
    margin-top:40px;
    z-index: 1;
  }
}

// 图片预览
.active-preview{
  .preview-counter{
    top: unset;
    bottom: 0px;
  }
}

.nj-nodata{
  padding-top:100px;
  text-align: center;
  color: #757575;
}


