<template>  
  <div class="nj-page nj-page-main">
    <div v-once class="nj-menu">
      <v-tabs centered icons-and-text height="80" color="#E62117" slider-color="#fff">
        <v-tab :ripple="false" @click="tabView = 'my-scroll'">
          <span>my-scroll</span>
        </v-tab>  
        <v-tab :ripple="false" @click="tabView = 'better-scroll'">
          <span>better-scroll</span>       
        </v-tab>
        <v-tab :ripple="false" @click="tabView = 'div-scroll'">
          <span>div-scroll</span>       
        </v-tab>                      
      </v-tabs>
    </div>   
    <component :is="tabView" class="nj-content"></component>   
  </div>
</template>

<script>
import defaultTab from "@/views/home/better-scroll.vue"
export default {
  name: 'home',  
  components: {
    'better-scroll' :  defaultTab,
    'vue-slim-better-scroll' :() => import('@/views/home/vue-slim-better-scroll'),
    'div-scroll' :  () => import('@/views/home/div-scroll'),
    'my-scroll' :  () => import('@/views/home/my-scroll'),
    
  },
  data () {
    return {
      tabView: 'my-scroll'
    }
  }
}
</script>
