<template>
  <div class="nj-content scroll-list-wrap" :style="{'height':$store.getters.screen.content_height + 'px','background-color':'#E2E2E2'}">
    <scroll ref="scroll"
              :data="items"
              :scrollbar="scrollbarObj"
              :pullDownRefresh="pullDownRefreshObj"
              :pullUpLoad="pullUpLoadObj"
              :startY="parseInt(startY)"
              @pullingDown="onPullingDown"
              @pullingUp="onPullingUp">
              
      <div v-for="(article, index) in articles" :key="index" :class="$style.card">
        <div v-if="article.postAddr" :class="$style.postAddr">       
          <v-icon :class="$style.icon">place</v-icon>{{ article.postAddr }}
        </div>
        <div :class="$style.info">
          <img :class="$style.avatar" :src="converter.avatarPath(article.avatar)">
          <label :class="$style.tit" v-html="converter.rn2htmlbr(article.title)"></label>      
          <label>{{ article.writetime }} | {{ article.authorName }}</label>  
        </div>    
        <div v-if="article.type === 'image'" :class="$style.images">          
          <img v-for="(fname, j) in article.images" :key="j" alt=""
            :src="converter.ossPath(article.writetime, article.Id, fname) + thumbMap['img'+ Math.min(3, article.images.length)]"
            :style="converter.imageStyle(article.images.length)"/>
        </div>        
        <div v-if="article.type === 'video'">          
          <video controls="controls" 
            :src="converter.ossPath(article.writetime, article.Id, article.videos[0])" 
            :poster="converter.ossPath(article.writetime, article.Id, article.videos[0]) + '?x-oss-process=video/snapshot,w_300,h_180,t_5000,m_fast'" 
            :style="converter.imageStyle(1)" ></video>
        </div>
        <div v-if="article.type === 'rich'" :class="$style.rich">
          <img :src="converter.ossPath(article.writetime, article.Id, article.images[0]) + thumbMap['img1']" :style="converter.imageStyle(1)"/>
          <div :class="$style.abstract">{{ article.abstract }}</div>  
        </div>
        <div :class="$style.hotrate">
          <div>
            <v-btn flat icon color="#757575">             
              <v-icon>thumb_up_alt</v-icon>
            </v-btn>{{ article.lauds }}
          </div>
          <div>
            <v-btn flat icon color="#757575">
              <v-icon>comment</v-icon>
            </v-btn>{{ article.comments }}
          </div>
          <div>
            <v-btn flat icon color="#757575">
              <v-icon>favorite_border</v-icon>
            </v-btn>{{ article.likes }}
          </div>
        </div>
      </div>

    </scroll>
  </div>
</template>

<script>
import Vue from 'vue'
import { articleConvert } from "@/utils/tools.js"
import Scroll from '@/components/scroll/scroll.vue'

export default {
  components: {
    Scroll
  },
  data() {
    return {
      articles: [],
      query: {time: '', limit: 34},
      converter: articleConvert,
      thumbMap: {
        'img1': '?x-oss-process=style/thumb300_180',
        'img2': '?x-oss-process=style/thumb150_120',
        'img3': '?x-oss-process=style/thumb100_100'
      },

      scrollbar: true,
      scrollbarFade: true,
      pullDownRefresh: true,
      pullDownRefreshThreshold: 90,
      pullDownRefreshStop: 40,
      pullUpLoad: true,
      pullUpLoadThreshold: 0,
      pullUpLoadMoreTxt: '加载更多',
      pullUpLoadNoMoreTxt: '没有更多数据了',
      startY: 0,
      scrollToX: 0,
      scrollToY: -200,
      scrollToTime: 700,
      scrollToEasing: 'bounce',
      scrollToEasingOptions: ['bounce', 'swipe', 'swipeBounce'],
      items: [],
      itemIndex: 0
    }
  },
  created() {
    this.$Ajax({
      method: 'get', url: '/articles/', params: this.query
    }).then((response) => {
      this.articles = response.data
    }).catch(() => {
      alert('api调用出错')
    })
  }, 
  watch: {
    scrollbarObj: {
      handler() {
        this.rebuildScroll()
      },
      deep: true
    },
    pullDownRefreshObj: {
      handler() {
        this.rebuildScroll()
      },
      deep: true
    },
    pullUpLoadObj: {
      handler() {
        this.rebuildScroll()
      },
      deep: true
    },
    startY() {
      this.rebuildScroll()
    }
  },
  computed: {
    scrollbarObj: function () {
      return this.scrollbar ? {fade: this.scrollbarFade} : false
    },
    pullDownRefreshObj: function () {
      return this.pullDownRefresh ? {
        threshold: parseInt(this.pullDownRefreshThreshold),
        stop: parseInt(this.pullDownRefreshStop)
      } : false
    },
    pullUpLoadObj: function () {
      return this.pullUpLoad ? {
        threshold: parseInt(this.pullUpLoadThreshold),
        txt: {more: this.pullUpLoadMoreTxt, noMore: this.pullUpLoadNoMoreTxt}
      } : false
    }
  },
  methods: {  
    onPullingDown() {
      // 模拟更新数据
      setTimeout(() => {
        if (Math.random() > 0.5) {
          // 如果有新数据
          this.items.unshift('我是新数据' + +new Date())
        } else {
          // 如果没有新数据
          this.$refs.scroll.forceUpdate()
        }
      }, 2000)
    },
    onPullingUp() {
      // 更新数据
      // console.log('pulling up and load data')
      setTimeout(() => {
        if (Math.random() > 0.5) {
          // 如果有新数据
          let newPage = []
          for (let i = 0; i < 10; i++) {
            newPage.push('我是第' + ++this.itemIndex + '行')
          }

          this.items = this.items.concat(newPage)
        } else {
          // 如果没有新数据
          this.$refs.scroll.forceUpdate()
        }
      }, 1500)
    },
    rebuildScroll() {
      Vue.nextTick(() => {
        this.$refs.scroll.destroy()
        this.$refs.scroll.initScroll()
      })
    }
  }
}
</script>

<style lang="scss" module>
.card {
  background-color: #ffffff; 
  margin:20px 0;
  padding:0 20px;
  border-top: #d2d2d2 1px solid;
  border-bottom: #d2d2d2 1px solid;
  position: relative;
  .icon{
    font-size: 20px;
  }
  .images{
    img {
      margin-left:5px;
    }
    img:nth-child(1),
    img:nth-child(4),
    img:nth-child(7) {
      margin-left:0px;
    }
  }
  video{
    background-color: #000000;
  }
  .postAddr{
    text-align: right;
    padding: 10px 0;
  }
  .data{
    padding: 20px 0 0 0;
    text-align: center;
  }
  .info {
    padding-bottom:10px;
    line-height: 25px;
    .avatar {
      position: absolute;
      width:50px;
      border-radius: 50%;
    }
    label {
      margin-left: 60px;
      display: block;
    }
    label.tit {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .rich{
    .abstract{
      font-size: 15px;
      line-height: 1.4em;
    }
  }
  .hotrate{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
</style>