<template>
  <div class="nj-content" :style="{'height':$store.getters.screen.content_height + 'px','background-color':'#E2E2E2'}">
    <div v-for="(article, index) in articles" :key="index" :class="$style.card">
      <div v-if="article.postAddr" :class="$style.postAddr">       
        <v-icon :class="$style.icon">place</v-icon>{{ article.postAddr }}
      </div>
      <div :class="$style.info">
        <img :class="$style.avatar" :src="converter.avatarPath(article.avatar)">
        <label :class="$style.tit" v-html="converter.rn2htmlbr(article.title)"></label>      
        <label>{{ article.writetime }} | {{ article.authorName }}</label>  
      </div>    
      <div v-if="article.type === 'image'" :class="$style.images">          
        <img v-for="(fname, j) in article.images" :key="j" alt=""
          :src="converter.ossPath(article.writetime, article.Id, fname) + thumbMap['img'+ Math.min(3, article.images.length)]"
          :style="converter.imageStyle(article.images.length)"/>
      </div>        
      <div v-if="article.type === 'video'">
        <video controls="controls" 
          :src="converter.ossPath(article.writetime, article.Id, article.videos[0])" 
          :poster="converter.ossPath(article.writetime, article.Id, article.videos[0]) + '?x-oss-process=video/snapshot,w_300,h_180,t_5000,m_fast'" 
          :style="converter.imageStyle(1)" ></video>
      </div>
      <div v-if="article.type === 'rich'" :class="$style.rich">
        <img :src="converter.ossPath(article.writetime, article.Id, article.images[0]) + thumbMap['img1']" :style="converter.imageStyle(1)"/>
        <div :class="$style.abstract">{{ article.abstract }}</div>  
      </div>
      <div :class="$style.hotrate">
        <div>
          <v-btn flat icon color="#757575">             
            <v-icon>thumb_up_alt</v-icon>
          </v-btn>{{ article.lauds }}
        </div>
        <div>
          <v-btn flat icon color="#757575">
            <v-icon>comment</v-icon>
          </v-btn>{{ article.comments }}
        </div>
        <div>
          <v-btn flat icon color="#757575">
            <v-icon>favorite_border</v-icon>
          </v-btn>{{ article.likes }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { articleConvert,  getImagesGridStyle } from "@/utils/tools.js"

export default {
  data() {
    return {
      articles: [],
      query: {time: '', limit: 34},
      converter: articleConvert,
      thumbMap: {
        'img1': '?x-oss-process=style/thumb300_180',
        'img2': '?x-oss-process=style/thumb150_120',
        'img3': '?x-oss-process=style/thumb100_100'
      },
    }
  },
  created() {
    this.$Ajax({
      method: 'get', url: '/articles/', params: this.query
    }).then((response) => {
      this.articles = response.data
    }).catch(() => {
      alert('api调用出错')
    })
  }, 
  methods: { 
  }
}
</script>

<style lang="scss" module>
.card {
  background-color: #ffffff; 
  margin:20px 0;
  padding:0 20px;
  border-top: #d2d2d2 1px solid;
  border-bottom: #d2d2d2 1px solid;
  position: relative;
  .icon{
    font-size: 20px;
  }
  .images{
    img {
      margin-left:5px;
    }
    img:nth-child(1),
    img:nth-child(4),
    img:nth-child(7) {
      margin-left:0px;
    }
  }
  video{
    background-color: #000000;
  }
  .postAddr{
    text-align: right;
    padding: 10px 0;
  }
  .data{
    padding: 20px 0 0 0;
    text-align: center;
  }
  .info {
    padding-bottom:10px;
    line-height: 25px;
    .avatar {
      position: absolute;
      width:50px;
      border-radius: 50%;
    }
    label {
      margin-left: 60px;
      display: block;
    }
    label.tit {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .rich{
    .abstract{
      font-size: 15px;
      line-height: 1.4em;
    }
  }
  .hotrate{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
</style>