<template>
  <div ref="scroll" :class="$style.warp" :style="{'height':scroll.height +'px'}">
    <div :class="$style.pulldown">
      <bubble v-show="!scroll.pulldown && scroll.pulldowning" :y="scroll.bubbleY"></bubble>
      <loading v-show="scroll.pulldown"></loading>
    </div>
    <ul :class="$style.content">      
      <li v-for="(article, index) in articles" :key="index" :class="$style.card">
        <div v-if="article.postAddr" :class="$style.postAddr">       
          <v-icon :class="$style.icon">place</v-icon>{{ article.postAddr }}
        </div>
        <div :class="$style.info">
          <img :class="$style.avatar" :src="converter.avatarPath(article.avatar)">
          <label :class="$style.tit" v-html="converter.rn2htmlbr(article.title)"></label>      
          <label>{{ article.writetime }} | {{ article.authorName }}</label>  
        </div>    
        <div v-if="article.type === 'image'" :class="$style.images">          
          <img v-for="(fname, j) in article.images" :key="j" alt=""
            :src="converter.ossPath(article.writetime, article.Id, fname) + thumbMap['img'+ Math.min(3, article.images.length)]"
            :style="converter.imageStyle(article.images.length)"/>
        </div>        
        <div v-if="article.type === 'video'">
          <video controls="controls" 
            :src="converter.ossPath(article.writetime, article.Id, article.videos[0])" 
            :poster="converter.ossPath(article.writetime, article.Id, article.videos[0]) + '?x-oss-process=video/snapshot,w_300,h_180,t_5000,m_fast'" 
            :style="converter.imageStyle(1)" ></video>
        </div>
        <div v-if="article.type === 'rich'" :class="$style.rich">
          <img :src="converter.ossPath(article.writetime, article.Id, article.images[0]) + thumbMap['img1']" :style="converter.imageStyle(1)"/>
          <div :class="$style.abstract">{{ article.abstract }}</div>  
        </div>
        <div :class="$style.hotrate">
          <div>
            <v-btn flat icon color="#757575">             
              <v-icon>thumb_up_alt</v-icon>
            </v-btn>{{ article.lauds }}
          </div>
          <div>
            <v-btn flat icon color="#757575">
              <v-icon>comment</v-icon>
            </v-btn>{{ article.comments }}
          </div>
          <div>
            <v-btn flat icon color="#757575">
              <v-icon>favorite_border</v-icon>
            </v-btn>{{ article.likes }}
          </div>
        </div>
      </li>     
    </ul>
    <div :class="$style.pullup">
      <loading v-show="scroll.pullup"></loading>
    </div>
  </div>
</template>

<script>
import Bubble from '@/components/scroll/bubble.vue'
import Loading from '@/components/scroll/loading.vue'
import { articleConvert } from "@/utils/tools.js"
export default {
  components: { Bubble, Loading },
  data(){
    return {
      scroll: {
        height: 0,
        start: 0,
        pulldowning: false,
        pulldown: false,
        pullup: false,
        bubbleY: 0,
      },
      articles: [],
      query: {time: '', limit: 34},
      converter: articleConvert,
      thumbMap: {
        'img1': '?x-oss-process=style/thumb300_180',
        'img2': '?x-oss-process=style/thumb150_120',
        'img3': '?x-oss-process=style/thumb100_100'
      },
    }
  },  
  mounted(){
    this.scroll.height = this.$store.getters.screen.content_height + 60
    this.$refs.scroll.addEventListener('scroll', this.onScroll, false)
    this.$refs.scroll.addEventListener('touchstart', this.onTouchstart, false)
    this.$refs.scroll.addEventListener('touchmove', this.onTouchmove, false)
    this.$refs.scroll.addEventListener('touchend', this.onTouchend, false)
  },
  created() {
    this.$Ajax({
      method: 'get', url: '/articles/', params: this.query
    }).then((response) => {
      this.articles = response.data
    }).catch(() => {
      alert('api调用出错')
    })
  }, 
  methods:{
    onScroll(){
      if(this.scroll.pullup === false && this.$refs.scroll.scrollHeight - this.$refs.scroll.scrollTop <= this.scroll.height + 100) {        
        this.scroll.pullup = true
      
        alert('加载')
        console.log('加载')
        const _this = this
        setTimeout(() => {          
          _this.scroll.pullup = false
        }, 2000);
      }
    },
    
    onTouchstart(event){
      let touch = event.touches[0]
      this.scroll.start = touch.pageY
    },
    onTouchmove(event){
      if(this.$refs.scroll.scrollTop <= 0){
        let touch = event.touches[0]
        let _y = touch.pageY - this.scroll.start
        this.scroll.pulldowning = _y > 20
        this.scroll.bubbleY = _y * 0.5
        if(_y  > 100){
          this.scroll.pulldown = true
          console.log('准备刷新')
        }
      }
    },
    onTouchend(){
      this.scroll.pulldowning = false
      if(this.scroll.pulldown){
        this.scroll.pulldown = false
        alert('刷新')
        console.log('刷新')
      }      
    }
  }
}
</script>

<style lang="scss" module>
.warp{
  overflow-y: auto;
  .pulldown,{
    height: 60px;
    text-align: center;
  }
  ul.content {
    padding: 0;
    list-style: none;
  }
  .pullup{
    height: auto;
    text-align: center;
  }
}

.card {
  background-color: #ffffff; 
  margin: 20px 0;
  padding:0 20px;
  border-top: #d2d2d2 1px solid;
  border-bottom: #d2d2d2 1px solid;
  position: relative;
  .icon{
    font-size: 20px;
  }
  .images{
    img {
      margin-left:5px;
    }
    img:nth-child(1),
    img:nth-child(4),
    img:nth-child(7) {
      margin-left:0px;
    }
  }
  video{
    background-color: #000000;
  }
  .postAddr{
    text-align: right;
    padding: 10px 0;
  }
  .data{
    padding: 20px 0 0 0;
    text-align: center;
  }
  .info {
    padding-bottom:10px;
    line-height: 25px;
    .avatar {
      position: absolute;
      width:50px;
      border-radius: 50%;
    }
    label {
      margin-left: 60px;
      display: block;
    }
    label.tit {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .rich{
    .abstract{
      font-size: 15px;
      line-height: 1.4em;
    }
  }
  .hotrate{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

</style>
