<template>
  <v-app>
    <router-view></router-view>
  </v-app>  
</template>

<script>

export default {
  data () { 
    return {}
  },
  created(){    
    const screen = {}
    screen.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
    screen.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    screen.bar_height = 100
    screen.content_height = screen.height - screen.bar_height
    this.$store.commit('setScreen', screen)
  }
}
</script>

